.wrapper {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #FFFFFF;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1225px;
    margin: 0 auto;
}